---
import "../styles/global.css";
import Layout from '../layouts/Layout.astro';

import Profile from "../components/Profile.astro"
import Link from "../components/Link.astro";
import Status from "../components/Status.astro";
---

<Layout>
	<div class="w-screen max-w-2xl m-auto p-4 flex flex-col gap-y-4">
		<Profile />
		<Link />
		<Status />
	</div>
</Layout>
