---
import { Icon } from "astro-icon/components";
---

<footer
  class="rounded-t-xl text-martinique mt-4 py-8 flex place-content-center bg-[#DDD]"
>
  <div class="w-5/6 min-w-sm">
    <p class="mb-4">Skota11’s portfolio</p>
    <p class="float-right">
      <a href="/" class="mr-2">Top</a><a class="mr-4" href="/works">Works</a> &copy;
      Skota11
    </p>
    <div class="flex gap-x-4">
      <div class="p-4 rounded-lg bg-white h-fit">
        <a href="https://twitter.com/Kota_pclive">
          <Icon name={"mdi:twitter"} />
        </a>
      </div>
      <div class="p-4 rounded-lg bg-white h-fit">
        <a href="https://github.com/Skota11">
          <Icon name={"mdi:github"} />
        </a>
      </div>
    </div>
  </div>
</footer>
