<header class="bg-[#5c96c1] rounded-b-xl shadow-xl text-martinique mb-4">
  <p class="text-center py-4 text-xl">skota11.com</p>
  <ul class="gap-x-4 flex place-content-center text-sm">
    <li class="ml-4"><a href="/">Top</a></li>
    <li class=""><a href="/works">Works</a></li>
  </ul>
</header>
