---
import Card  from "./Card.astro";
import StatusCard from "./react/StatusCard.tsx"
---

<div>
	<h1 class="text-xl text-center my-4">test</h1>
	<Card bgColor="sprout">
		<StatusCard client:visible />
	</Card>
</div>