---
import { Icon } from "astro-icon/components";
import Card from "../Card.astro";
---

<div>
  <h1 class="text-xl text-center my-4 flex items-center gap-x-4">
    <Icon name={"mdi:youtube"} />
    <span>NextTube</span>
  </h1>
  <Card bgColor="sprout">
    <div class="flex flex-col gap-y-4">
      <div>
        <p>自分のスタイルに合わせたYoutubeとniconicoの共存クライアントです。</p>
        <p>プレイリスト機能やチャンネルのピン留め、快適なプレイヤー。</p>
      </div>
      <a href="https://app-nextyt.vercel.app" class="flex gap-x-2 items-center">
        <Icon name={"mdi:link"} size={28} />
        <span class="text-sm">https://app-nextyt.vercel.app</span>
      </a>
    </div>
  </Card>
</div>
